body {
    height: 100vmin;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

p {
    text-align: left;
    font-size: 3vmin;
    margin-bottom: -125px;
    margin-left: -550px;
    border: 3px solid #a9050e;
    background-color: #a9050e;
    color: gold;
    padding: 7px;

}

img {
    height: 100vmin;
}

section.slots {
    display: grid;
    grid-template-rows: repeat(3, 17vmin);
    grid-template-columns: repeat(3, 17vmin);
    margin-top: -377px;
    
}

div {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    border: 3px solid;
    vertical-align: center;
    
    
    
}

section.buttons {
    
    display: grid;
    grid-template-columns: repeat(7, 10vmin);
    margin-top: -50px;
    
    
}

#spin {
    grid-column-start: 7;
}