body {
    background-image: url("https://i.imgur.com/dtxcUN8.jpg");
    background-size: absolute;
    height: 100vmin;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}



#message {
    color: white;
    margin-top: 70px;
}

p {
    text-align: left;
    font-size: 3vmin;
    margin-bottom: -125px;
    margin-left: -550px;
    border: 3px solid #a9050e;
    border-radius: 3px;
    background-color: #a9050e;
    color: gold;
    padding: 7px;
}

img {
    height: 100vmin;
}

#img0 {
    margin:auto; 
    width: 100px; 
    height:123px;
}

#img1 {
    margin:auto; 
    width: 100px; 
    height:123px;
}

#img2 {
    margin:auto; 
    width: 100px; 
    height:123px;
}

section.slots {
    display: grid;
    grid-template-rows: repeat(3, 17vmin);
    grid-template-columns: repeat(3, 17vmin);
    margin-top: -393px;
}

div {
    vertical-align: center;
    margin-left: 5px;
    margin-top: -10px;
}

section.buttons {
    display: grid;
    grid-template-columns: repeat(7, 10vmin);
    margin-top: -50px;
}

#spin {
    grid-column-start: 7;
}

audio {
    margin-top: 30px;
    height: 30px;
}

@media only screen and (min-width: 1024px) {
    img {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 468px) {
    img {
        margin-top: 155px;
    }
    p {
        text-align: center;
        margin-left: auto;
        margin-top: 20px;
    }
    section.slots{
        margin-top: -195px;
        display: grid;
        grid-template-rows: repeat(3, 17vmin);
        grid-template-columns: repeat(3, 17vmin);
    }
    section.buttons {
        display: grid;
        grid-template-columns: repeat(6, 15vmin);
        margin-top: 2px;  
    }
    div{
        display: flex;
        align-content: center;
    }
    #img0 {
        width: 50px;
        height: 70px;
   }
    #img1 {
        width: 50px;
        height: 70px;
   }
    #img2 {
        width: 50px;
        height: 70px;
   }
    #spin {
        grid-column-start: 6;
    }
} 